body {
	padding-top: 100px;
	padding-bottom: 40px;
	background-color: #eee;
}

.fullscreen_bg {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-size: cover;
	background-position: 50% 50%;
	background-image:
		url('../../img/IndianMoneyPhotography.jpg');
	background-repeat: repeat;
	z-index: -1;
}

.logo-white-trans {
	height:60px;
	background-image:
		url('../../img/Loanstar_white.png');
	background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
}